<div class="p-strip">
  <div class="row">
    <h1>会議日程 一覧</h1>

    <ul class="p-list--divided">
      <% meetings.each do |meeting| %>
      <li class="p-list__item">
        <a href='<%= routes.meeting_path(id: meeting.id) %>' class="p-button--base u-no-margin--bottom">
          <h4 class="u-no-margin--bottom"><%= meeting.formatted_date %>の<% if meeting.type == 0 %>ブロック会議<% elsif meeting.type == 1%>寮生大会<% elsif meeting.type == 2%>代議員会<% elsif meeting.type == 3%>寮生集会<% end %>
          </h4> 
        </a>
      </li>
      <% end %>
    </ul>
  </div>

  <div class="row">
    <div class="col-12">
      <ol class="p-pagination u-align--center">
        <% if page - 1 > 0 %>
          <li class="p-pagination__item">
            <a href="?page=<%= page - 1 %>" class="p-pagination__link--previous">
              <i class="p-icon--chevron-down"></i>　前のページ
            </a>
          </li>
        <% else %>
          <li class="p-pagination__item">
            <span class="p-pagination__link--previous is-disabled"><i class="p-icon--chevron-down"></i>　前のページ</span>
          </li>
        <% end %>
        <% if page - 3 > 1 %>
          <li class="p-pagination__item">
            <a href="?page=1" class="p-pagination__link u-hide--small">
              <span class="p-pagination__label">1</span>
            </a>
          </li>
        <% end %>
        <% if page - 3 > 2 %>
          <li class="p-pagination__item p-pagination__item--truncation">&hellip;</li>
        <% end %>
        <% if page - 3 > 0 %>
          <li class="p-pagination__item">
            <a href="?page=<%= page - 3 %>" class="p-pagination__link u-hide--small">
              <span class="p-pagination__label"><%= page - 3 %></span>
            </a>
          </li>
        <% end %>
        <% if page - 2 > 0 %>
          <li class="p-pagination__item">
            <a href="?page=<%= page - 2 %>" class="p-pagination__link u-hide--small">
              <span class="p-pagination__label"><%= page - 2 %></span>
            </a>
          </li>
        <% end %>
        <% if page - 1 > 0 %>
          <li class="p-pagination__item">
            <a href="?page=<%= page - 1 %>" class="p-pagination__link u-hide--small">
              <span class="p-pagination__label"><%= page - 1 %></span>
            </a>
          </li>
        <% end %>
          <li class="p-pagination__item">
            <span class="p-pagination__link is-active" style="background-color: #ccc;">
              <span class="p-pagination__label"><%= page %></span>
            </span>
          </li>
        <% if page + 1 <= max_page %>
          <li class="p-pagination__item">
            <a href="?page=<%= page + 1 %>" class="p-pagination__link u-hide--small">
              <span class="p-pagination__label"><%= page + 1%></span>
            </a>
          </li>
        <% end %>
        <% if page + 2 <= max_page %>
          <li class="p-pagination__item">
            <a href="?page=<%= page + 2 %>" class="p-pagination__link u-hide--small">
              <span class="p-pagination__label"><%= page + 2 %></span>
            </a>
          </li>
        <% end %>
        <% if page + 3 <= max_page %>
          <li class="p-pagination__item">
            <a href="?page=<%= page + 3 %>" class="p-pagination__link u-hide--small">
              <span class="p-pagination__label"><%= page + 3 %></span>
            </a>
          </li>
        <% end %>
        <% if page + 5 <= max_page %>
          <li class="p-pagination__item p-pagination__item--truncation">&hellip;</li>
        <% end %>
        <% if page + 4 <= max_page %>
          <li class="p-pagination__item">
            <a href="?page=<%= max_page %>" class="p-pagination__link u-hide--small">
              <span class="p-pagination__label"><%= max_page %></span>
            </a>
          </li>
        <% end %>
        <% if page + 1 <= max_page %>
          <li class="p-pagination__item">
            <a href="?page=<%= page + 1 %>" class="p-pagination__link--next">
              <span class="p-pagination__label">次のページ</span><i class="p-icon--chevron-down"></i>
            </a>
          </li>
        <% else %>
          <li class="p-pagination__item">
            <span class="p-pagination__link--next is-disabled">
              <span class="p-pagination__label">次のページ</span><i class="p-icon--chevron-down"></i>
            </span>
          </li>
        <% end %>
      </ol>
    </div>
  </div>
</div>
<div>
</div>
