<div class="p-strip">
  <div class="row row-wide">
    <div class="u-hide--small">
      <h1><%= meeting.date %>のブロック会議</h1>
    </div>
    <div class="u-hide--large u-hide--medium">
      <h2 class="u-no-margin--bottom"><%= meeting.date %>のブロック会議</h2>
      <span class="p-contextual-menu--left" style="width:100%;">
          <a href="#" class="p-button--neutral p-contextual-menu__toggle" aria-controls="#menu" aria-expanded="false" aria-haspopup="true">議案の一覧を表示</a>
          <span class="p-contextual-menu__dropdown" id="menu" aria-hidden="true" aria-label="submenu" style="max-width:32rem;">
            <span class="p-contextual-menu__group">
              <% meeting.articles.each_with_index do |article, i| %>
                <a href="<%= routes.meeting_path(id: meeting.id) %>?page=<%= i + 1 %>" class="p-contextual-menu__link" style="margin:3px;">
                  <%= article_numbered_title(article) %>
                </a>
              <% end %>
            </span>
          </span>
      </span>
      <%= javascript 'contextual_menu' %>
    </div>
  </div>

  <div class="row row-wide p-divider">
    <div class="col-9 p-divider__block">
      <h3><%= article_formatted_title(article) %></h3>
      <div class="row">
        <a class="p-button--positive" href="<%= routes.edit_article_path(article.id) %>">編集</a>
        <%=
        form_for :article, routes.article_path(article.id), method: :delete, class: "p-form p-form--inline" do
          submit '削除', class: "p-button--negative"
        end
        %>
      </div>
      <dl>
        <dt>文責者</dt>
        <dd><%= article.author.name %></dd>
        <dt>本文</dt>
        <dd>
          <pre><%= article.body %></pre>
        </dd>
        <% if article&.categories&.find{ |category| category.name == '採決'} %>
        <dt>採決項目</dt>
        <dd>
          <pre><%= vote_content(article) %></pre>
        </dd>
        <% end %>
      </dl>
      <ul class="p-list">
        <li class="p-list__item">議案の初版投稿日時: <%= article.created_at %></li>
        <li class="p-list__item">議案の最終更新日時: <%= article.updated_at %></li>
      </ul>

      <% if !article.tables.nil? %>
        <% article.tables.each do |table| %>
          <%= render partial: 'shared/table', locals: {table: table, editable: true} %>
        <% end %>
      <% end %>

      <% unless article.comments.empty? %>
      <div class="p-strip">
        <div class="row">
          <div class="col-12">
            <h4>議事録</h4>
            <dl>
              <% blocks.each do |block| %>
              <% comment = article.comments.find{ |comment| comment.block_id == block.id } %>
              <% unless comment.nil? %>
                <dt><%= block.name %>の議事録</dt>
                <dd><pre><%= comment.body %></pre></dd>
              <% end %>
              <% end %>
            </dl>
          </div>
        </div>
      </div>
      <% end %>

      <footer class="p-pagination">
        <% if page - 1 > 0 %>
        <a class="p-pagination__link--previous" href="?page=<%= page - 1 %>">
          <span class="p-pagination__label">Previous</span>
          <span class="p-pagination__title"><%= meeting.articles[page - 2].title %></span>
        </a>
        <% else %>
        <span class="p-pagination__link--previous is-disabled">
        </span>
        <% end %>
        <% if page + 1 <= max_page %>
        <a class="p-pagination__link--next" href="?page=<%= page + 1 %>">
          <span class="p-pagination__label">Next</span>
          <span class="p-pagination__title"><%= meeting.articles[page].title %></span>
        </a>
        <% else %>
        <span class="p-pagination__link--next is-disabled">
        </span>
        <% end %>
      </footer>
    </div>

    <div class="col-3 p-divider__block">
      <div class="p-navigation--sidebar">
        <div class="sidebar__content js-sidebar-toggle u-hide" aria-hidden="true">
          <ul class="p-list">
            <% meeting.articles.each_with_index do |article, i| %>
              <hr>
              <li><a href="<%= routes.meeting_path(id: meeting.id) %>?page=<%= i + 1 %>">
                <%= article_numbered_title(article) %>
              </a></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>


  </div>
</div>
</main>
