<div class="p-strip">
  <div class="row row-wide">
    <div class="u-show--large u-hide--medium u-hide--small">
      <h1 class="full-width">
        <%= meeting.formatted_date %>の<% if meeting.type == 0 %>ブロック会議<% elsif meeting.type == 1%>寮生大会<% elsif meeting.type == 2%>代議員会<% elsif meeting.type == 3%>寮生集会<% elsif meeting.type == 4%>万年大会<% end %>
        <% if meeting.deadline > Time.now %>
        <small>(議案投稿の締め切り日時 : <%= meeting.formatted_deadline %>)</small>
        <% end %>
      </h1>
    </div>
    <div class="u-hide--large u-show--medium u-show--small">
      <h2 class="u-no-margin--bottom"><%= meeting.formatted_date %>の<% if meeting.type == 0 %>ブロック会議<% elsif meeting.type == 1%>寮生大会<% elsif meeting.type == 2%>代議員会<% elsif meeting.type == 3%>寮生集会<% elsif meeting.type == 4%>万年大会<% end %>
      </h2>
      <% if meeting.deadline > Time.now %>
        <p>議案投稿の締め切り日時 : <%= meeting.formatted_deadline %></p>
      <% end %>
      <a href="#" id="side-navigation-top-drawer" class="p-button has-icon js-drawer-toggle" aria-controls="side-navigation-drawer">
        <i class="p-icon--chevron-down" style="transform: rotate(270deg);"></i><span>議案の一覧を表示</span>
      </a>
    </div>
  </div>

  <% if article || past_comments %>
  <div class="row row-wide">
    <div class="col-9">
      <% if past_comments %>
        <h3 style="max-width: 100%;">(0) 前回のブロック会議から</h3>
        <% past_comments.each do |article_id, comments| %>
	  <hr/>
          <h4><%= h "(#{comments[0]&.dig(:article_number) || '番号なし'}) #{comments[0]&.dig(:title)}" %></h4>
          <% vote_result_sum = comments.select{|c| c[:agree] }.map{|c| [c[:agree], c[:disagree], c[:onhold]] }.transpose.map{ |count_ary| count_ary.sum } %>
          <% if vote_result_sum[0] %>
          <p>
            採決結果<br>総数:<%= vote_result_sum.sum %><br>賛成:<%= vote_result_sum[0] %><br>反対:<%= vote_result_sum[1] %><br>保留:<%= vote_result_sum[2] %>
          </p>
          <% end %>
          <dl>
            <% blocks.each do |block| %>
              <% comment = comments.find{ |c| c[:block_id] == block.id && c[:body] } %>
              <% vote_result = comments.find{ |c| c[:block_id] == block.id && c[:agree] } %>
              <% unless (comment.nil? || comment[:body]&.strip.empty?) && vote_result.nil? %>
                <dt><%= block.name %>の議事録</dt>
                <% if !comment.nil? && !comment[:body]&.strip.empty? %>
                <dd class="u-no-margin--bottom"><pre class="u-no-margin--bottom"><%= h comment[:body] %><% if past_messages.fetch(comment[:id], false) %><% past_messages.fetch(comment[:id], []).each do |message| %><%= if message[:send_by_article_author] then "<< 議案提起者からの返答 >>\n" else "<< 議事録投稿者からの返答 >>\n" end %><%= h "#{message[:body]}\n\n" %><% end %><% end %></pre></dd>
                <% end %>
                <% if !vote_result.nil? && vote_result[:agree] %>
                <dd class="u-no-margin--bottom"><pre class="u-no-margin--bottom"><%= "#{vote_result[:block_name]}の採決結果\n賛成 : #{vote_result[:agree]}\n反対 : #{vote_result[:disagree]}\n保留 : #{vote_result[:onhold]}" %></pre></dd>
                <% end %>
              <% end %>
            <% end %>
          </dl>
        <% end %>
      <% end %>

      <% if article %>
        <h3 style="max-width: 100%;margin-bottom:0;"><%= article_formatted_title(article, checked: true) %></h3>
        <% if editable %>
        <div class="">
          <span class="u-hide--small u-hide--medium" style="margin-left:2.5rem"></span>
          <a class="p-button--positive" href="<%= routes.edit_article_path(article.id) %>">議案の編集</a>
          <%=
          form_for :article, routes.article_path(article.id), method: :delete, class: "p-form p-form--inline" do
            submit '議案の削除', class: "p-button--negative"
          end
          %>
        </div>
        <% end %>
        <% if !article.checked %>
          <% if after_6pm(article, meeting) %>
            <div class="row">
              <p style="color:#d50000">この議案は、ブロック会議当日の１８時以降に編集されたため資料委員会によって印刷されません。議案提起者が印刷を行ってください。</p>
            </div>
          <% else %>
            <div class="row">
              <p>この議案は追加議案ですが、ブロック会議当日の１８時までに投稿されたため、資料委員会が印刷します。議案投稿者が印刷する必要はありません。</p>
            </div>
          <% end %>
        <% end %>
        <dl>
          <dt>文責者</dt>
          <dd><%= h article.author.name %></dd>
          <dt>本文</dt>
          <% if article.format == 1 %>
          <div class="markdown">
            <%= markdown_to_html(h article.body) %>
          </div>
          <% else %>
          <dd>
            <pre><%= url_parse(h article.body) %></pre>
          </dd>
          <% end %>
          <% if article&.categories&.find{ |category| category.name == '採決' || category.name == '採決予定' } %>
          <dt>採決項目</dt>
          <dd>
            <pre><%= vote_content(article) %></pre>
          </dd>
            <% vote_result_sum = article.vote_results&.map{ |vote| [vote.agree, vote.disagree, vote.onhold] }.transpose.map{ |count_ary| count_ary.sum } %>
            <% if vote_result_sum && !vote_result_sum.empty? %>
          <dd><%= "総数 : #{vote_result_sum.sum}<br/>賛成 : #{vote_result_sum[0]}<br/>反対 : #{vote_result_sum[1]}<br/>保留 : #{vote_result_sum[2]}" %></dd>
            <% end %>
          <% end %>
        </dl>
        <ul class="p-list">
          <li class="p-list__item">議案の初版投稿日時: <%= article.formatted_created_at %></li>
          <li class="p-list__item">議案の最終更新日時: <%= article.formatted_updated_at %></li>
        </ul>

        <% if !article.tables.nil? %>
          <% article.tables.each do |table| %>
            <%= render partial: 'shared/table', locals: {table: table, editable: editable} %>
          <% end %>
        <% end %>

        <% if !article_refs.empty? %>
        <dl>
          <dt>関連議案</dt>
          <dd>
            <ul class="p-list--divided">
              <% article_refs.each do |article_ref| %>
              <% ref = if article_ref.article_old_id == article.id then article_ref.article_new else article_ref.article_old end %>
              <li class="p-list__item">
                <div style="display: flex;justify-content: space-between;">
                  <a href="<%= routes.article_path(id: ref.id) %>" class="p-heading--4 u-no-margin--bottom full-width">
                    【<%= ref.meeting.formatted_date %>】<%= article_formatted_title(ref, number: false) %>
                  </a>
                  <% if article_ref.same %>
                  <a href="/article/diff?diff[old_article]=<%= article_ref.article_old_id %>&diff[new_article]=<%= article_ref.article_new_id %>" class="p-button--brand u-no-margin--bottom u-hide--small">議案の差分を表示</a>
                  <% end %>
                </div>
              </li>
              <% end %>
              <hr>
            </ul>
          </dd>
        </dl>
        <% end %>

        <% unless article.comments.empty? && article.vote_results.empty? %>
        <div class="p-strip">
          <div class="row">
            <div class="col-12">
              <h4>議事録</h4>
              <dl>
                <% blocks.each do |block| %>
                <% comment = article.comments.find{ |comment| comment.block_id == block.id } %>
                <% vote_result = article.vote_results.find{ |vote| vote.block_id == block.id } %>
                <% unless (comment.nil? || comment.body.strip.empty?) && vote_result.nil? %>
                  <dt><%= block.name %>の議事録</dt>
                  <% if !comment.nil? && !comment.body.strip.empty? %>
                  <dd class="u-no-margin--bottom"><pre class="u-no-margin--bottom"><%= h comment.body %></pre></dd>
                  <% if messages.find{|id,_| id == comment.id } %>
                    <dd class="u-no-margin--bottom">
                      <ul class="p-list--divided u-no-margin--bottom">
                        <% messages.find{|id,_| id == comment.id}.fetch(1, nil)&.each do |message| %>
                        <li class="p-list__item">
                          <%= message.send_by_article_author ? '議案提起者からの返答' : "#{block.name}議事録投稿者からの返答" %>:
                          <div class="row">
                            <div class="col-12 prefix-1"><pre class="u-no-margin--bottom"><%= h message.body %></pre>
                              <ul class="p-inline-list u-no-margin--bottom">
                                <li class="p-inline-list__item"><small>送信日時：<%= message.formatted_created_at %></small></li>
                                <li class="p-inline-list__item">
                                  <%=
                                  form_for :message, routes.comment_message_path(id: message.id), method: :delete, class: "p-form p-form--inline u-hide--small" do
                                  submit '', class: "p-button--base" do
                                  i '', class: "p-icon--delete"
                                  end
                                  end
                                  %>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </li>
                        <% end %>
                      </ul>
                    </dd>
                  <% end %>
                  <% end %>
                  <% if article&.categories&.find{ |category| category.name == '採決'} %>
                    <% unless vote_result.nil? %>
                    <dd><%= "賛成 : #{vote_result.agree}<br/>反対 : #{vote_result.disagree}<br/>保留 : #{vote_result.onhold}" %></dd>
                    <% end %>
                  <% end %>
                <% end %>
                <% end %>
              </dl>
            </div>
          </div>
        </div>
        <% end %>
      <% end %>

      <footer class="p-article-pagination" style="margin-bottom: 40px;">
        <% if page - 1 == 0 %>
        <a class="p-article-pagination__link--previous" href="?page=0">
          <span class="p-article-pagination__label">前の議案へ</span>
          <span class="p-article-pagination__title">前回のブロック会議から</span>
        </a>
        <% elsif page - 1 > 0 %>
        <a class="p-article-pagination__link--previous" href="?page=<%= page - 1 %>">
          <span class="p-article-pagination__label">前の議案へ</span>
          <span class="p-article-pagination__title"><%= h meeting.articles[page - 2].title %></span>
        </a>
        <% else %>
        <span class="p-article-pagination__link--previous is-disabled">
        </span>
        <% end %>
        <% if page + 1 <= max_page %>
        <a class="p-article-pagination__link--next" href="?page=<%= page + 1 %>">
          <span class="p-article-pagination__label">次の議案へ</span>
          <span class="p-article-pagination__title"><%= h meeting.articles[page].title %></span>
        </a>
        <% else %>
        <span class="p-article-pagination__link--next is-disabled">
        </span>
        <% end %>
      </footer>
    </div>

    <aside class="col-3">
      <div class="p-side-navigation is-sticky" id="side-navigation-drawer">
        <div class="p-side-navigation__overlay js-drawer-toggle" aria-controls="side-navigation-drawer"></div>
        <div class="p-side-navigation__drawer">
          <div class="p-side-navigation__drawer-header">
            <a href="#" class="p-side-navigation__toggle--in-drawer js-drawer-toggle" aria-controls="side-navigation-drawer">
              議案の一覧を閉じる
            </a>
          </div>

          <ul class="p-side-navigation__list">
            <li class="p-side-navigation__item--title">
              <span class="p-side-navigation__link">目次</span>
            </li>
            <% if meeting.type == 0 %><%#ブロック会議の時のみ０番を表示 %>
              <li class="p-side-navigation__item">
                <a href="<%= routes.meeting_path(id: meeting.id) %>?page=0" class="p-side-navigation__link" <%= article ? '' : 'aria-current="page"' %>>
                  (0) 前回のブロック会議から
                </a>
              </li>
            <% end %>
            <% meeting.articles.each_with_index do |nav_article, i| %>
              <hr class="u-no-margin">
              <li class="p-side-navigation__item">
                <% if nav_article.id == article&.id %>
                <a href="<%= routes.meeting_path(id: meeting.id) %>?page=<%= i + 1 %>" class="p-side-navigation__link u-no-padding--right" aria-current="page">
                <%= article_formatted_title(nav_article) %>
                </a>
                <% else %>
                <a href="<%= routes.meeting_path(id: meeting.id) %>?page=<%= i + 1 %>" class="p-side-navigation__link u-no-padding--right">
                <%= article_formatted_title(nav_article) %>
                </a>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>

      <%= javascript 'contextual_menu' %>
    </aside>

  </div>
  <% end # if article || past_comments %>
</div>
