<p><a href='<%= routes.root_path %>'>Top Page</a></p>
<p><a href='<%= routes.meetings_path %>'>ブロック会議一覧へ戻る</a></p>
<h1><%= meeting.date %></h1>
<p><a href='<%= routes.edit_comment_path(meeting_id: meeting.id, block_id: 1) %>'>A1の議事録作成</a></p>
<p><a href='<%= routes.edit_comment_path(meeting_id: meeting.id, block_id: 2) %>'>A2の議事録作成</a></p>
<p><a href='<%= routes.edit_comment_path(meeting_id: meeting.id, block_id: 3) %>'>A3の議事録作成</a></p>
<p><a href='<%= routes.edit_comment_path(meeting_id: meeting.id, block_id: 4) %>'>A4の議事録作成</a></p>
<div>
  <h2>議案一覧</h2>
  <ul>
  <% meeting.articles[article_limit * (page - 1), article_limit].each do |article| %>
  <div class="article">
    <h1>
      <a href="<%= routes.article_path(id: article.id) %>">
        <%= article_numbered_title(article) %>
      </a>
    </h1>
    <p><%= article.body %></p>
  </div>
  <% end %>
  </ul>
</div>

<ul>
  <% if page - 1 > 0 %>
    <li><a href="?page=<%= page - 1 %>">前のページ</a></li>
  <% else %>
    <li>前のページ</li>
  <% end %>
  <% if page - 3 > 0 %>
    <li><a href="?page=<%= page - 3 %>"><%= page - 3 %></a></li>
  <% end %>
  <% if page - 2 > 0 %>
    <li><a href="?page=<%= page - 2 %>"><%= page - 2 %></a></li>
  <% end %>
  <% if page - 1 > 0 %>
    <li><a href="?page=<%= page - 1 %>"><%= page - 1 %></a></li>
  <% end %>
  <li><%= page %></li>
  <% if page + 1 <= max_page %>
    <li><a href="?page=<%= page + 1 %>"><%= page + 1%></a></li>
  <% end %>
  <% if page + 2 <= max_page %>
    <li><a href="?page=<%= page + 2 %>"><%= page + 2 %></a></li>
  <% end %>
  <% if page + 3 <= max_page %>
    <li><a href="?page=<%= page + 3 %>"><%= page + 3 %></a></li>
  <% end %>
  <% if page + 1 <= max_page %>
    <li><a href="?page=<%= page + 1 %>">次のページ</a></li>
  <% else %>
    <li>次のページ</li>
  <% end %>
</ul>
