<!DOCTYPE html>
<html>
  <head>
    <title>資料システム：メンテナンス用ページ</title>
    <%= favicon %>
    <link rel="stylesheet" href="https://www.kumano-ryo.com/assets/vanilla-framework-version-3.2.0.min.css" />
    <%= stylesheet 'application' %>
    <link rel="manifest" href="/manifest.json" type="application/json">
  </head>
  <body>
    <header id="navigation" class="p-navigation" style="background-color: #eb9bff">
      <div class="p-navigation__row">
        <div class="p-navigation__banner">
          <div class="p-navigation__logo">
            <a class="p-navigation__item" href="<%= routes.root_path %>">
              <img src="/assets/logo.png" alt="" class="p-navigation__image">
            </a>
          </div>
          <a href="#navigation" class="p-navigation__toggle--open" title="menu">Menu</a>
          <a href="#navigation-closed" class="p-navigation__toggle--close" title="close menu">Close menu</a>
        </div>
        <nav class="p-navigation__nav u-image-position" role="menubar">
          <span class="u-off-screen">
            <a href="#main-content">Jump to main content</a>
          </span>
          <ul class="p-navigation__items" role="menu">
            <li class="p-navigation__item" role="menuitem">
              <a class="p-navigation__link" href="<%= routes.users_path %>">ユーザ管理</a>
            </li>
            <li class="p-navigation__item" role="menuitem">
              <a class="p-navigation__link" href="<%= routes.logs_path %>">ログ表示</a>
            </li>
            <li class="p-navigation__item" role="menuitem">
              <a class="p-navigation__link" href="<%= routes.dbs_path %>">データベースアクセス</a>
            </li>
            <li class="p-navigation__item" role="menuitem">
              <a class="p-navigation__link" href="<%= routes.logout_path %>">一般向けページへ(ログアウト)</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <div class="u-no-margin--top">
      <%= yield %>
    </div>

    <footer class="p-strip--light is-shallow u-hide--small u-no-padding--top">
      <div class="p-top u-hide--small">
        <a href="#" class="p-top__link">ページの上部へ戻る</a>
      </div>
      <div class="row">
        <div class="col-8">
          <p class="full-width">
            Copyright© 2019-2022 Kumano Dormitory IT Section
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
