<div class="p-strip--light is-shallow u-no-padding--bottom">
  <div class="row">
    <ul class="p-breadcrumbs">
      <li class="p-breadcrumbs__item"><a href='<%= routes.root_path %>'>管理者向けページ</a></li>
      <li class="p-breadcrumbs__item"><a href="<%= routes.meetings_path %>">会議日程一覧</a></li>
      <li class="p-breadcrumbs__item"><a href="<%= routes.meeting_path(id: meeting.id) %>"><%= meeting.formatted_date %>の<% if meeting.type == 0 %>ブロック会議<% elsif meeting.type == 1%>寮生大会<% elsif meeting.type == 2%>代議員会<% elsif meeting.type == 3%>寮生集会<% end %></a></li>
      <li class="p-breadcrumbs__item"><a href="<%= routes.meeting_articles_path(meeting_id: meeting.id) %>">議案一覧</a></li>
      <li class="p-breadcrumbs__item"><strong>議案の新規作成</strong></li>
    </ul>
    <hr/>
  </div>
</div>
<div class="p-strip is-shallow">
  <div class="row">
    <h1>議案の新規作成</h1>
    <%= form_for_create(meeting, categories, recent_articles, article_refs_selected) %>
    <%= javascript 'article_reference' %>
  </div>
</div>
