<div class="p-strip--light is-shallow u-no-padding--bottom">
  <div class="row">
    <ul class="p-breadcrumbs">
      <li class="p-breadcrumbs__item"><a href="<%= routes.root_path %>">管理者向けページ</a></li>
      <li class="p-breadcrumbs__item"><strong>議案の検索</strong></li>
    </ul>
    <hr/>
  </div>
</div>
<div class="p-strip is-shallow">
  <div class="row">
    <h1>議案検索 <span class="p-heading--three">検索結果― 『<%= h keywords %>』</span></h1>
  </div>
  <div class="row">
    <div class="col-12">
      <%=
        form_for :article, routes.search_path, method: :get, class: "p-search-box" do
          input type: 'search', name: 'query', class: 'p-search-box__input', placeholder: '検索', value: keywords
          button type: 'reset', class: 'p-search-box__reset', alt: 'reset' do
            i class: 'p-icon--close'
          end
          button type: 'submit', class: 'p-search-box__button', alt: 'search' do
            i class: 'p-icon--search'
          end
        end
       %>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <% articles.each do |article| %>
      <div class="p-card--highlighted u-no-padding--bottom u-no-padding--top">
        <h2 class="p-card__title full-width">
          <a href="<%= routes.meeting_article_path(meeting_id: article.meeting_id, id: article.id) %>" class="p-link--strong">
            <%= article_formatted_title(article, number: false) %>
          </a>
        </h2>
        <p class="p-card__content" style="max-width: none;"><%= h article.body[0, 200] %></p>
        <p class="p-card__content"><strong><% if article.meeting.type == 0 %>ブロック会議<% elsif article.meeting.type == 1%>寮生大会<% elsif article.meeting.type == 2%>代議員会<% elsif article.meeting.type == 3%>寮生集会<% elsif article.meeting.type == 4%>万年大会<% end %>：<%= article.meeting.formatted_date %> . 文責者：<%= h article.author.name %></strong></p>
      </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <footer class="p-pagination">
        <% if page - 1 > 0 %>
          <a href="?page=<%= page - 1 %>&amp;query=<%= hu keywords %>" class="p-pagination__link--previous">
            <span class="p-pagination__label">前のページ</span>
          </a>
        <% else %>
          <span class="p-pagination__link--previous is-disabled"><span class="p-pagination__label">前のページ</span></span>
        <% end %>
        <% if page - 3 > 1 %>
          <a href="?page=1&amp;query=<%= hu keywords %>" class="p-pagination__link">
            <span class="p-pagination__label">1</span>
          </a>
        <% end %>
        <% if page - 3 > 2 %>
          <span class="p-pagination__link">
            <span class="p-pagination__label">&hellip;</span>
          </span>
        <% end %>
        <% if page - 3 > 0 %>
          <a href="?page=<%= page - 3 %>&amp;query=<%= hu keywords %>" class="p-pagination__link">
            <span class="p-pagination__label"><%= page - 3 %></span>
          </a>
        <% end %>
        <% if page - 2 > 0 %>
          <a href="?page=<%= page - 2 %>&amp;query=<%= hu keywords %>" class="p-pagination__link">
            <span class="p-pagination__label"><%= page - 2 %></span>
          </a>
        <% end %>
        <% if page - 1 > 0 %>
          <a href="?page=<%= page - 1 %>&amp;query=<%= hu keywords %>" class="p-pagination__link">
            <span class="p-pagination__label"><%= page - 1 %></span>
          </a>
        <% end %>
          <span class="p-pagination__link is-active" style="background-color: #ccc;">
            <span class="p-pagination__label"><%= page %></span>
          </span>
        <% if page + 1 <= max_page %>
          <a href="?page=<%= page + 1 %>&amp;query=<%= hu keywords %>" class="p-pagination__link">
            <span class="p-pagination__label"><%= page + 1%></span>
          </a>
        <% end %>
        <% if page + 2 <= max_page %>
          <a href="?page=<%= page + 2 %>&amp;query=<%= hu keywords %>" class="p-pagination__link">
            <span class="p-pagination__label"><%= page + 2 %></span>
          </a>
        <% end %>
        <% if page + 3 <= max_page %>
          <a href="?page=<%= page + 3 %>&amp;query=<%= hu keywords %>" class="p-pagination__link">
            <span class="p-pagination__label"><%= page + 3 %></span>
          </a>
        <% end %>
        <% if page + 5 <= max_page %>
          <span class="p-pagination__link">
            <span class="p-pagination__label">&hellip;</span>
          </span>
        <% end %>
        <% if page + 4 <= max_page %>
          <a href="?page=<%= max_page %>&amp;query=<%= hu keywords %>" class="p-pagination__link">
            <span class="p-pagination__label"><%= max_page %></span>
          </a>
        <% end %>
        <% if page + 1 <= max_page %>
          <a href="?page=<%= page + 1 %>&amp;query=<%= hu keywords %>" class="p-pagination__link--next">
            <span class="p-pagination__label">次のページ</span>
          </a>
        <% else %>
          <span class="p-pagination__link--next is-disabled">
            <span class="p-pagination__label">次のページ</span>
          </span>
        <% end %>
      </footer>
    </div>
  </div>
</div>
