<div class="p-strip--light is-shallow u-no-padding--bottom">
  <div class="row">
    <ul class="p-breadcrumbs">
      <li class="p-breadcrumbs__item"><a href='<%= routes.root_path %>'>管理者向けページ</a></li>
      <li class="p-breadcrumbs__item"><a href="<%= routes.meetings_path %>">会議日程一覧</a></li>
      <li class="p-breadcrumbs__item"><a href="<%= routes.meeting_path(id: article.meeting_id) %>"><%= article.meeting.formatted_date %>の<% if article.meeting.type == 0 %>ブロック会議<% elsif article.meeting.type == 1%>寮生大会<% elsif article.meeting.type == 2%>代議員会<% elsif article.meeting.type == 3%>寮生集会<% end %></a></li>
      <li class="p-breadcrumbs__item"><a href="<%= routes.meeting_articles_path(meeting_id: article.meeting_id) %>">議案一覧</a></li>
      <li class="p-breadcrumbs__item"><strong><%= article_formatted_title(article, number: false) %></strong></li>
    </ul>
    <hr/>
  </div>
</div>
<div class="p-strip is-shallow">
  <div class="row">
    <div class="col-12">
      <h2 class="full-width"><%= article_formatted_title(article, checked: true, number: false) %></h2>
      <div class="row">
        <a href="<%= routes.edit_meeting_article_path(meeting_id: article.meeting_id, id: article.id) %>" class="p-button--positive">編集</a>
        <%=
          form_for :article, routes.meeting_article_path(meeting_id: article.meeting_id, id: article.id),
              method: :delete, class: "p-form p-form--inline" do
            submit '削除', class: "p-button--negative"
          end
        %>
      </div>
      <dl>
        <dt>文責者</dt>
        <dd><%= h article.author.name %></dd>
        <dt><% if article.meeting.type == 0 %>ブロック会議<% elsif article.meeting.type == 1%>寮生大会<% elsif article.meeting.type == 2%>代議員会<% elsif article.meeting.type == 3%>寮生集会<% end %>日時</dt>
        <dd><a href="<%= routes.meeting_path(id: article.meeting_id) %>" class="p-button--base u-no-margin--bottom"><%= article.meeting.formatted_date %></a></dd>
        <dt>議案の種別</dt>
        <dd>
          <ul class="p-inline-list--middot">
            <% article.categories.each do |category| %>
              <li class="p-inline-list__item"><%= category.name %></li>
            <% end %>
          </ul>
        </dd>
        <dt>議案番号</dt>
        <dd><%= article.number %></dd>
        <dt>資料委員会にチェックされたか</dt>
        <dd><%= article.checked %></dd>
        <dt>資料委員会が印刷するか</dt>
        <dd><%= article.printed %></dd>
        <ul class="p-list">
          <li class="p-list__item">議案の初版投稿日時: <%= article.formatted_created_at %></li>
          <li class="p-list__item">議案の最終更新日時: <%= article.formatted_updated_at %></li>
        </ul>
        <dt>本文</dt>
        <% if article.format == 1 %>
        <% # render partial: 'shared/markdown', locals: {str: article.body} %>
        <%= markdown_to_html(article.body) %>
        <% else %>
        <dd>
          <pre><%= h article.body %></pre>
        </dd>
        <% end %>
        <% if article&.categories&.find{ |category| category.name == '採決' || category.name == '採決予定' } %>
        <dt>採決項目</dt>
        <dd>
          <pre><%= vote_content(article) %></pre>
        </dd>
          <% vote_result_sum = article.vote_results&.map{ |vote| [vote.agree, vote.disagree, vote.onhold] }.transpose.map{ |count_ary| count_ary.sum } %>
          <% if vote_result_sum && !vote_result_sum.empty? %>
        <dd><%= "賛成 : #{vote_result_sum[0]}<br/>反対 : #{vote_result_sum[1]}<br/>保留 : #{vote_result_sum[2]}" %></dd>
          <% end %>
        <% end %>
      </dl>

      <% if !article.tables.nil? %>
        <% article.tables.each do |table| %>
          <%= render partial: 'shared/table', locals: {table: table, meeting_id: article.meeting_id, article_id: article.id, editable: true} %>
        <% end %>
      <% end %>

      <% if !article_refs.empty? %>
      <dl>
        <dt>関連議案</dt>
        <dd>
          <ul class="p-list--divided">
            <% article_refs.each do |article_ref| %>
            <% ref = if article_ref.article_old_id == article.id then article_ref.article_new else article_ref.article_old end %>
            <li class="p-list__item">
              <a href="<%= routes.meeting_article_path(meeting_id: ref.meeting_id, id: ref.id) %>" class="p-heading--four">
                【<%= ref.meeting.formatted_date %>】<%= article_formatted_title(ref, number: false) %>
              </a>
              <button class="p-button--neutral u-no-margin--bottom">同議案:<%= article_ref.same %></button>
            </li>
            <% end %>
            <hr>
          </ul>
        </dd>
      </dl>
      <% end %>

      <div class="p-strip">
        <div class="row">
          <div class="col-12">
            <h4>議事録</h4>
            <dl>
              <% blocks.each do |block| %>
              <dt><%= block.name %>の議事録
                <a class="p-button--positive is-inline" href="<%= routes.edit_comment_path(article_id: article.id, block_id: block.id) %>">編集</a>
                <%=
                form_for :message, routes.comment_path(article_id: article.id, block_id: block.id),
                          method: :delete, class: "p-form p-form--inline" do
                  submit '削除', class: "p-button--negative"
                end
                %>
              </dt>
              <% comment = article.comments.find{ |comment| comment.block_id == block.id } %>
              <% vote_result = article.vote_results.find{ |vote| vote.block_id == block.id } %>
              <% unless comment.nil? && vote_result.nil? %>
                <dd><pre><%= comment.nil? ? '議事録なし' : (h comment.body) %></pre></dd>
                <% unless vote_result.nil? %>
                <dd><%= "賛成 : #{vote_result.agree}<br/>反対 : #{vote_result.disagree}<br/>保留 : #{vote_result.onhold}" %></dd>
                <% end %>
                <% if !comment.nil? && messages.find{|id,_| id == comment.id } %>
                  <dd class="u-no-margin--bottom">
                    <ul class="p-list--divided u-no-margin--bottom">
                      <% messages.find{|id,_| id == comment.id}.fetch(1, nil)&.each do |message| %>
                      <li class="p-list__item">
                        <%= message.send_by_article_author ? '議案提起者からの返答' : "#{block.name}議事録投稿者からの返答" %>:
                        <div class="row">
                          <div class="col-12 prefix-1"><pre class="u-no-margin--bottom"><%= h message.body %></pre>
                            <ul class="p-inline-list u-no-margin--bottom">
                              <li class="p-inline-list__item"><small>送信日時：<%= message.formatted_created_at %></small></li>
                              <li class="p-inline-list__item">
                                <%=
                                form_for :message, routes.edit_message_path(article_id: article.id, comment_id: comment.id, id: message.id),
                                          method: :get, class: "p-form p-form--inline" do
                                  submit '編集', class: "p-button--positive"
                                end
                                %>
                              </li>
                              <li class="p-inline-list__item">
                                <%=
                                form_for :message, routes.message_path(article_id: article.id, comment_id: comment.id, id: message.id),
                                          method: :delete, class: "p-form p-form--inline" do
                                  submit '削除', class: "p-button--negative"
                                end
                                %>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </li>
                      <% end %>
                    </ul>
                  </dd>
                <% end %>
                <% if comment %>
                  <div class="u-align--right">
                    <a href="<%= routes.new_message_path(article_id: article.id, comment_id: comment.id) %>" class="p-button--base u-no-margin--bottom" style="color:#999;">
                      <i class="p-icon--chevron"></i> 新たに議事録への返答を追加する
                    </a>
                  </div>
                <% end %>
              <% else %>
                <dd>議事録なし</dd>
              <% end %>
              <% end %>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
