<div class="p-strip--light is-shallow u-no-padding--bottom">
  <div class="row">
    <ul class="p-breadcrumbs">
      <li class="p-breadcrumbs__item"><a href='<%= routes.root_path %>'>管理者向けページ</a></li>
      <li class="p-breadcrumbs__item"><a href='<%= routes.docs_path %>'>寮生向けの資料一覧</a></li>
      <li class="p-breadcrumbs__item"><strong>寮生向け資料の並び替え</strong></li>
    </ul>
    <hr/>
  </div>
</div>
<div class="p-strip is-shallow">
  <div class="row">
    <h2 class="u-no-margin--bottom">部会・委員会の寮生向け資料の並び替え</h2>
    <p>資料をドラッグ＆ドロップで並び替えてください</p>
    <p>並び替えが終了したらページ下のボタンをクリックして保存してください</p>

    <ul id="sortable" class="p-list">
      <% documents.each do |document| %>
      <li id="<%= document.id %>" class="ui-state-default">
        <div class="p-card u-no-margin--bottom u-no-padding">
          <h4 class="full-width u-no-margin--bottom">
            <span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
            <%= document.title %>(文責者：<%= document.user.name %>)
          </h4>
        </div>
      </li>
      <% end %>
    </ul>

    <%= form_order %>
  </div>
</div>
