<div class="p-strip--light is-shallow u-no-padding--bottom">
  <div class="row">
    <ul class="p-breadcrumbs">
      <li class="p-breadcrumbs__item"><a href='<%= routes.root_path %>'>管理者向けページ</a></li>
      <li class="p-breadcrumbs__item"><a href='<%= routes.docs_path %>'>寮生向けの資料一覧</a></li>
      <li class="p-breadcrumbs__item"><strong><%= h document.title %></strong></li>
    </ul>
    <hr/>
  </div>
</div>
<div class="p-strip is-shallow">
  <div class="row">
    <h4>寮生向けの部会・委員会の資料</h4>
    <h2><%= h document.title %></h2>
    <div class="row">
      <a href="<%= routes.edit_doc_path(id: document.id) %>" class="p-button--positive">編集</a>
      <%=
        form_for :document, routes.doc_path(id: document.id), method: :delete, class: "p-form p-form--inline" do
          submit '削除', class: "p-button--negative"
        end
      %>
    </div>
    <p>文責：<%= h document.user.name %></p>

    <% if document.type == 0 %>
    <div class="markdown">
      <%= markdown_to_html(h document.body) %>
    </div>
    <% elsif document.type == 1 %>
    <div class="u-hide--medium u-hide--large">
      <p>資料はPDFファイルです. 以下のボタンからダウンロード出来ます</p>
      <a href="/docs/download/<%= document.id %>" class="p-button--neutral">PDFファイルのダウンロード</a>
    </div>
    <div class="u-hide--small">
      <iframe src="/docs/download/<%= document.id %>" type="application/pdf" width="100%" height="700px">
    </div>
    <% elsif document.type == 2 %>
    <h3 class="u-no-padding">
      <a class="p-link--external" href="<%= ha document.body %>"><%= h document.body %></a>
    </h3>
    <p>※外部サイトへのリンクです. リンクをクリックすると外部サイトが開きます.</p>
    <% end %>
  </div>
</div>
