<div class="p-strip--light is-shallow u-no-padding--bottom">
  <div class="row">
    <ul class="p-breadcrumbs">
      <li class="p-breadcrumbs__item"><a href='<%= routes.root_path %>'>管理者向けページ</a></li>
      <li class="p-breadcrumbs__item"><a href="<%= routes.meetings_path %>">会議日程一覧</a></li>
      <li class="p-breadcrumbs__item"><a href="<%= routes.meeting_path(id: meeting.id) %>"><%= meeting.formatted_date %>の
      <% if meeting.type == 0 %>
          <%= "ブロック会議" %>
        <% elsif meeting.type == 1%>
          <%= "寮生大会" %>
        <% elsif meeting.type == 2%>
          <%= "代議員会" %>
        <% elsif meeting.type == 3%>
          <%= "寮生集会" %>
        <% end %>
        </a></li>
      <li class="p-breadcrumbs__item"><strong>会議日程の削除</strong></li>
    </ul>
    <hr/>
  </div>
</div>
<div class="p-strip is-shallow">
  <div class="row">
    <h1><%= meeting.formatted_date %>の
    <% if meeting.type == 0 %>
          <%= "ブロック会議" %>
        <% elsif meeting.type == 1%>
          <%= "寮生大会" %>
        <% elsif meeting.type == 2%>
          <%= "代議員会" %>
        <% elsif meeting.type == 3%>
          <%= "寮生集会" %>
        <% end %>
        日程の削除</h1>
    <div class="p-notification--negative">
      <p class="p-notification__response">
        <span class="p-notification__status">警告:</span>
        <h3>
          会議日程を削除した場合、そのブロック会議に含まれる<u>すべての議案も</u>同時に削除されます.(元に戻すことはできません)<br/>
          会議の日時や締め切りが間違っていて変更したい場合は、「削除」ではなく、「編集」をしてください.<br/>
          どうしても「削除」する必要がある場合には、複数の資料委員で確認をとってから削除してください
        </h3>
      </p>
    </div>
    <p>上記の内容を読んだ上で削除する場合は以下のボタンを押してください</p>
    <%= form_for :meeting, routes.meeting_path(id: meeting.id),
    method: :delete, class: "delete_meeting", id: 'form' do
      hidden_field :confirm, value: true
      button 'この会議日程の削除', class: "p-button--negative p-modal__open-close" end %>
  </div>
</div>

<div class="p-modal" id="modal" style="display: none;">
  <div class="p-modal__dialog" role="dialog" aria-labelledby="modal-title" aria-describedby="modal-description">
    <header class="p-modal__header">
      <h2 class="p-modal__title" id="modal-title">確認</h2>
      <button class="p-modal__open-close" aria-label="Close active modal">Close</button>
    </header>
    <p id="modal-description">注意をよく読んだ上で、本当にこの<% if meeting.type == 0 %>
    <%= "ブロック会議" %>
  <% elsif meeting.type == 1%>
    <%= "寮生大会" %>
  <% elsif meeting.type == 2%>
    <%= "代議員会" %>
  <% elsif meeting.type == 3%>
    <%= "寮生集会" %>
  <% end %>
  を削除しますか？<br/>削除しない場合は右上の「Close」から戻ってください</p>
    <p>
      <button id="submit" class="p-button--negative">削除する</button>
    </p>
  </div>
</div>
<%= javascript 'modal' %>
