<div class="p-strip">
  <div class="row">
    <ul class="p-breadcrumbs">
      <li class="p-breadcrumbs__item">管理者向けページ</li>
      <li class="p-breadcrumbs__item"><a href="<%= routes.meetings_path %>">ブロック会議一覧</a></li>
      <li class="p-breadcrumbs__item"><a href="<%= routes.meeting_path(id: meeting.id) %>"><%= meeting.formatted_date %>のブロック会議</a></li>
      <li class="p-breadcrumbs__item"><strong>ブロック会議日程の削除</strong></li>
    </ul>
    <hr/>
    <h1><%= meeting.formatted_date %>のブロック会議日程の削除</h1>
    <div class="p-notification--caution">
      <p class="p-notification__response">
        <span class="p-notification__status">警告:</span>
        <h3>
          ブロック会議日程を削除した場合、そのブロック会議に含まれる<u>すべての議案も</u>同時に削除されます.(元に戻すことはできません)<br/>
          ブロック会議に日時や締め切りが間違っていて変更したい場合は、「削除」ではなく、「編集」をしてください.<br/>
          どうしても「削除」する必要がある場合には、複数資料委員で確認をとってから削除してください
        </h3>
      </p>
    </div>
    <p>上記の内容を読んだ上で削除する場合は以下のボタンを押してください</p>
    <%= form_for :meeting, routes.meeting_path(id: meeting.id),
    method: :delete, class: "delete_meeting" do
      hidden_field :confirm, value: true
      submit 'このブロック会議日程の削除', class: "p-button--negative" end %>
  </div>
</div>
