<div class="p-strip--light is-shallow u-no-padding--bottom">
  <div class="row">
    <ul class="p-breadcrumbs">
      <li class="p-breadcrumbs__item"><a href='<%= routes.root_path %>'>管理者向けページ</a></li>
      <li class="p-breadcrumbs__item"><strong>会議日程一覧</strong></li>
    </ul>
    <hr/>
  </div>
</div>
<div class="p-strip is-shallow">
  <div class="row">
    <h1>
      会議日程一覧
      <% if page > 1 %>
      <small>(<%= page %>ページ目)</small>
      <% end %>
    </h1>
    <p><a href="<%= routes.new_meeting_path %>" class="p-button--positive">会議日程を新たに作成</a></p>
    <% if meetings.length == 0 %>
      <p>最後のページです</p>
    <% end %>
    <ul class="p-list--divided">
      <% meetings.each do |meeting| %>
      <li class="p-list__item"><a href='<%= routes.meeting_path(id: meeting.id) %>' class="p-button--base u-no-margin--bottom">
        <h4><%= meeting.formatted_date %>の
        <% if meeting.type == 0 %>
          <%= "ブロック会議" %>
        <% elsif meeting.type == 1%>
          <%= "寮生大会" %>
        <% elsif meeting.type == 2%>
          <%= "代議員会" %>
        <% elsif meeting.type == 3%>
          <%= "寮生集会" %>
        <% end %>
        </h4>
      </a></li>
      <% end %>
    </ul>
  </div>
  <div class="row">
    <div class="col-12">
      <footer class="p-pagination">
        <% if page - 1 > 0 %>
          <a href="?page=<%= page - 1 %>" class="p-pagination__link--previous">
            <span class="p-pagination__label">前のページ</span>
          </a>
        <% else %>
          <span class="p-pagination__link--previous is-disabled"><span class="p-pagination__label">前のページ</span></span>
        <% end %>
        <% if meetings.length != 0 %>
          <a href="?page=<%= page + 1 %>" class="p-pagination__link--next">
            <span class="p-pagination__label">次のページ</span>
          </a>
        <% else %>
          <span class="p-pagination__link--next is-disabled">
            <span class="p-pagination__label">次のページ</span>
          </span>
        <% end %>
      </footer>
    </div>
  </div>
</div>
