<h1><%= meeting.date %></h1>
<div>
  <p>Actions</p>
  <ul>
    <li><a href="<%= routes.meeting_articles_path(meeting_id: meeting.id) %>">議案一覧</a></li>
    <li><a href='<%= routes.edit_article_status_path(id: meeting.id) %>'>Edit article status</a></li>
    <li><a href='<%= routes.edit_article_number_path(id: meeting.id) %>'>Edit article number</a></li>
    <li><%= form_for :meeting, routes.meeting_path(id: meeting.id),
                     method: :delete, class: "delete_meeting" do
              submit '削除' end %>
    </li>
    <li><a href='<%= routes.download_meeting_path(id: meeting.id) %>'>Download latex code</a></li>
  </ul>
</div>
