<div class="p-strip--light is-shallow u-no-padding--bottom">
  <div class="row">
    <ul class="p-breadcrumbs">
      <li class="p-breadcrumbs__item"><strong>管理者向けページ</strong></li>
    </ul>
    <hr/>
  </div>
</div>
<div class="p-strip is-shallow">
  <div class="row">
    <h1>資料委員会向け 管理者ページ</h1>
    <h5 style="color:#c30000" class="u-no-margin--bottom">資料委員会としての作業が終了した場合は、必ず右上のログアウトボタンを押してください. （共用のパソコンなどでログアウトしないままだと、第三者にシステムを変更される恐れがあります）</h5>
    <h5 style="color:#c30000">また、30分間操作がない場合には自動的にログアウトされるので注意してください</h5>
    <p>以下から操作を選択してください</p>
    <ul class="p-list--divided">
      <li class="p-list__item is-ticked">
        <h4>ブロック会議の日程変更や、ブロック会議に含まれる議案の編集などはこちら</h4>
        <p>議案の状態（通常議案か追加議案か）の変更や、議案順序の変更などもこちら</p>
        <p><a href='<%= routes.meetings_path %>' class="p-button--neutral" style="background-color:#81d4fa;">ブロック会議の一覧</a></p>
      </li>
      <li class="p-list__item is-ticked">
        <h4>ブロック会議資料や議事録の印刷はこちら</h4>
        <p><a href='<%= routes.download_meeting_path(id: 0) %>' class="p-button--brand">ブロック会議資料・議事録の印刷</a></p>
      </li>
      <li class="p-list__item is-ticked">
        <h4>議案の簡易検索はこちら</h4>
        <h4><%=
          form_for :article, routes.search_path, method: :get, class: "p-search-box" do
            input type: 'search', name: 'query', class: 'p-search-box__input', placeholder: '検索', required: ''
            button type: 'reset', class: 'p-search-box__reset', alt: 'reset' do
              i class: 'p-icon--close'
            end
            button type: 'submit', class: 'p-search-box__button', alt: 'search' do
              i class: 'p-icon--search'
            end
          end
         %></h4>
      </li>
      <li class="p-list__item is-ticked">
        <h4>ブロック会議日程を新たに作成したい場合はこちら</h4>
        <p><a href='<%= routes.new_meeting_path %>' class="p-button--positive">ブロック会議日程を作成</a></p>
      </li>
      <li class="p-list__item is-ticked">
        <h4>資料システム一般向けページへ戻る場合はこちら</h4>
        <p><a href='<%= routes.logout_path %>' class="p-button--negative">ログアウト（一般向けページへ）</a></p>
      </li>
    </ul>
  </div>
</div>
