<div class="p-strip">
  <div class="row">
    <a href="<%= routes.gijirokus_path %>" class="p-button--neutral">議事録一覧へ</a>
  <div class="row">
    <h1>議事録:<%= gijiroku.id %></h1>
    <ul>
      <li>説明：<%= gijiroku.description %></li>
      <li>文字数：<%= gijiroku.body.length %></li>
      <li>作成日時：<%= gijiroku.created_at %></li>
      <li>変更日時：<%= gijiroku.updated_at %></li>
    </ul>
    <div>
      <a href="<%= routes.edit_gijiroku_path(id: gijiroku.id) %>" class="p-button--positive">編集</a>
      <a href="<%= routes.destroy_gijiroku_path(id: gijiroku.id) %>" class="p-button--negative">削除</a>
    </div>
    <p><%= gijiroku.body.gsub(/(\r\n|\r|\n)/, '<br>') %></p>
  </div>
</div>
