<div class="p-strip">
  <div class="row">
    <h1><% if gijiroku.description.nil? || gijiroku.description.empty? %>議事録<%= h gijiroku.id %><% else %><%= gijiroku.description %><% end %></h1>
    <ul>
      <li>文字数：<%= gijiroku.body.length %></li>
      <li>作成日時：<%= gijiroku.created_at %></li>
      <li>変更日時：<%= gijiroku.updated_at %></li>
    </ul>
    <p><%= gijiroku.body.gsub(/(\r\n|\r|\n)/, '<br>') %></p>
  </div>
</div>
