<div class="p-strip--light is-shallow u-no-padding--bottom">
  <div class="row">
    <ul class="p-breadcrumbs">
      <li class="p-breadcrumbs__item"><a href='<%= routes.root_path %>'>管理者向けページ</a></li>
      <li class="p-breadcrumbs__item"><a href="<%= routes.meetings_path %>">ブロック会議一覧</a></li>
      <li class="p-breadcrumbs__item"><a href="<%= routes.meeting_path(id: meeting.id) %>"><%= meeting.formatted_date %>のブロック会議</a></li>
      <li class="p-breadcrumbs__item"><strong>議案の順番の変更</strong></li>
    </ul>
    <hr/>
  </div>
</div>
<div class="p-strip is-shallow">
  <div class="row">
    <h2 class="u-no-margin--bottom">議案の並び替え</h2>
    <p>議案をドラッグ＆ドロップで並び替えてください</p>
    <p>並び替えが終了したらページ下のボタンをクリックして<%= for_download ? '資料をダウンロード' : '保存' %>してください</p>
    <h3>特に理由がなければ、【追加議案】は末尾にまとめてください</h3>

    <ul id="sortable" class="p-list">
      <% meeting.articles.each do |article| %>
      <li id="<%= article.id %>" class="ui-state-default">
        <div class="p-card u-no-margin--bottom u-no-padding">
          <h4 class="full-width u-no-margin--bottom">
            <span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
            <%= article_formatted_title(article, checked: true, number: false) %>
          </h4>
        </div>
      </li>
      <% end %>
    </ul>

    <%= form(meeting, for_download) %>
  </div>
</div>
