<div class="p-strip">
  <div class="row">
    <h2>ユーザの一覧</h2>
    <div>
      <a href="<%= routes.new_user_path %>" class="p-button--positive">
        ユーザの追加
      </a>
    </div>

    <% users.group_by(&:authority).sort.each do |authority, user_group| %>
    <h3 class="u-no-margin--bottom"><%= user_role(authority) %>(権限レベル: <%= authority %>)</h3>
    <ul class="p-list--divided">
    <% user_group.each do |user| %>
      <li class="p-list__item">
        <a href="<%= routes.user_path(id: user.id) %>" class="p-button--base u-no-margin--bottom">
          <h4 class="u-no-margin--bottom"><%= user.name %> (権限レベル: <%= user.authority %>)</h4>
        </a>
      </li>
    <% end %>
    </ul>
    <% end %>
  </div>
</div>
