<div class="p-strip">
  <div class="row row-wide">
    <div class="u-hide--medium u-hide--small">
      <h2 class="full-width">
        代議員会用資料（過去のブロック会議の議事録一覧）
      </h2>
    </div>
    <div class="u-hide--large u-show--medium u-show--small">
      <h2 class="u-no-margin--bottom">代議員会用資料 (過去のブロック会議の議事録一覧)</h2>
      <a href="#" id="side-navigation-top-drawer" class="p-button has-icon js-drawer-toggle" aria-controls="side-navigation-drawer">
        <i class="p-icon--chevron-down" style="transform: rotate(270deg);"></i><span>ブロック会議の一覧を表示</span>
      </a>
    </div>
  </div>

  <% if comments %>
  <div class="row row-wide">
    <div class="col-9">
      <% if comments %>
        <h3 style="max-width: 100%;">[<%= page + 1 %>] <a href='<%= routes.meeting_path(id: meeting.id) %>' class="dark-enable" target="_blank"><%= meeting.formatted_date %>のブロック会議</a>の議事録</h3>
        <dl>
          <% comments.each do |article_id, comments| %>
          <dt><%= h "(#{comments[0]&.dig(:article_number) || '番号なし'}) #{comments[0]&.dig(:title)}" %></dt>
          <% vote_result_sum = comments.select{|c| c[:agree] }.map{|c| [c[:agree], c[:disagree], c[:onhold]] }.transpose.map{ |count_ary| count_ary.sum } %>
          <% if vote_result_sum[0] %>
          <dd>
            採決結果<br>総数:<%= vote_result_sum.sum %><br>賛成:<%= vote_result_sum[0] %><br>反対:<%= vote_result_sum[1] %><br>保留:<%= vote_result_sum[2] %>
          </dd>
          <% end %>
          <dd><pre><% comments.each do |comment| %><% if comment[:body] && !comment[:body].strip.empty? %><%= h "#{comment[:block_name]} - #{comment[:body]}\n" %><% if messages.fetch(comment[:id], false) %><% messages.fetch(comment[:id], []).each do |message| %><%= if message[:send_by_article_author] then "<< 議案提起者からの返答 >>\n" else "<< 議事録投稿者からの返答 >>\n" end %><%= h "#{message[:body]}\n" %><% end %><% end %><% elsif comment[:agree] %><%= h "#{comment[:block_name]}の採決結果\n賛成:#{comment[:agree]}\n反対:#{comment[:disagree]}\n保留:#{comment[:onhold]}\n" %><% end %><% end %></pre></dd>
          <% end %>
        </dl>
      <% end %>

      <footer class="p-article-pagination">
        <% if page - 1 >= 0 %>
        <a class="p-article-pagination__link--previous" href="?page=<%= page - 1 %>">
          <span class="p-article-pagination__label">前のブロック会議の議事録へ</span>
          <span class="p-article-pagination__title"><%= h meetings[page - 1].formatted_date %>のブロック会議の議事録</span>
        </a>
        <% else %>
        <span class="p-article-pagination__link--previous is-disabled">
        </span>
        <% end %>
        <% if page + 1 <= max_page %>
        <a class="p-article-pagination__link--next" href="?page=<%= page + 1 %>">
          <span class="p-article-pagination__label">次のブロック会議の議事録へ</span>
          <span class="p-article-pagination__title"><%= h meetings[page + 1].formatted_date %>のブロック会議の議事録</span>
        </a>
        <% else %>
        <span class="p-article-pagination__link--next is-disabled">
        </span>
        <% end %>
      </footer>
    </div>

    <div class="col-3">
      <div class="p-side-navigation is-sticky" id="side-navigation-drawer">
        <div class="p-side-navigation__overlay js-drawer-toggle" aria-controls="side-navigation-drawer"></div>
        <div class="p-side-navigation__drawer">
          <div class="p-side-navigation__drawer-header">
            <a href="#" class="p-side-navigation__toggle--in-drawer js-drawer-toggle" aria-controls="side-navigation-drawer">
              ブロック会議の一覧を閉じる
            </a>
          </div>

          <ul class="p-side-navigation__list">
            <li class="p-side-navigation__item--title">
              <span class="p-side-navigation__link">目次</span>
            </li>
            <% meetings.each_with_index do |nav_meeting, i| %>
              <hr>
              <li class="p-side-navigation__item">
                <% if nav_meeting.id == meeting&.id %>
                <a href="<%= routes.summary_comment_path %>?page=<%= i %>" class="p-side-navigation__link u-no-padding--right" style="font-weight:950;" aria-current="page">
                  [<%= i + 1 %>] <%= nav_meeting.formatted_date %>の議事録
                </a>
                <% else %>
                <a href="<%= routes.summary_comment_path %>?page=<%= i %>" class="p-side-navigation__link u-no-padding--right">
                  [<%= i + 1 %>] <%= nav_meeting.formatted_date %>の議事録
                </a>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <%= javascript 'contextual_menu' %>

  </div>
  <% end # if article || past_comments %>
</div>
