<div class="p-strip--light is-shallow">
  <div class="row">
    <h1 class="p-heading--stylized">新資料システム</h1>
    <a href="<%= routes.document_path %>?type=0" class="p-button--neutral u-no-margin--bottom">利用方法</a>
  </div>
</div>
<% if during_meeting %>
<div class="p-strip is-shallow is-bordered">
  <div class="row">
    <h2>議事録作成</h2>
    <ul class="p-inline-list">
      <% blocks.each do |block| %>
      <li class="p-inline-list__item">
        <% if block[:comment_count] == 0 && block[:vote_result_count] == 0 %>
        <a href='<%= routes.edit_comment_path(meeting_id: next_meeting.id, block_id: block[:id]) %>' class="p-button--negative"><%= block[:name] %><br/>未提出</a>
        <% else %>
        <a href='<%= routes.edit_comment_path(meeting_id: next_meeting.id, block_id: block[:id]) %>' class="p-button--positive"><%= block[:name] %><br/>提出済</a>
        <% end %>
      </li>
      <% end %>
    </ul>
  </div>
</div>
<% end %>

<div class="p-strip">
  <div class="row">
    <div class="col-12">
      <ul class="p-list">
      <% articles_by_meeting.each do |meeting, articles| %>
        <li class="p-list__item">
          <div class="p-card">
            <h1 class="p-card__title"><a href='<%= routes.meeting_path(id: meeting.id) %>' class="p-link--strong"><%= meeting.formatted_date %>のブロック会議</a></h1>
            <hr>
            <div class="p-card__content">
              <ul class="p-list--divided">
              <% articles.each_with_index do |article, idx| %>
                <li class="p-list__item"><a href='<%= routes.meeting_path(id: meeting.id) %>?page=<%= idx + 1 %>' class="p-button--base u-no-margin"><%= article_numbered_title(article) %></a></li>
              <% end %>
              </ul>
            </div>
          </div>
        </li>
      <% end %>
      </ul>
    </div>
  </div>
</div>
