<div class="p-strip">
  <div class="row">
    <div class="col-12">
      <h1>新着議案一覧</h1>
      <ul class="p-list">
      <% articles_by_meeting.each do |meeting, articles| %>
        <li class="p-list__item">
          <div class="p-card--highlighted">
            <h1 class="p-card__title u-no-margin--bottom">
              <a href='<%= routes.meeting_path(id: meeting.id) %>' class="p-link--soft">
                <%= meeting.formatted_date %>の<%= meeting.type == 0 ? "ブロック会議" : "寮生大会" %></a>
            </h1>
            <hr>
            <div class="p-card__content">
              <ul class="p-list--divided u-no-margin--bottom">
                <li class="p-list__item">
                  <a href='<%= routes.meeting_path(id: meeting.id) %>?page=0' class="p-button--base u-no-margin u-align-text--left">(0) 前回のブロック会議から</a>
                </li>
              <% articles.each_with_index do |article, idx| %>
                <li class="p-list__item">
                  <a href='<%= routes.meeting_path(id: meeting.id) %>?page=<%= idx + 1 %>' class="p-button--base u-no-margin u-align-text--left">
                    <%= article_numbered_title(article) %>
                  </a>
                </li>
              <% end %>
              </ul>
            </div>
          </div>
        </li>
      <% end %>
      </ul>
    </div>
  </div>
</div>

<% if save_token %>
<%= javascript 'save_token' %>
<% end %>
