<div class="p-strip">
  <div class="row">
    <div class="col-12">
      <% if next_meeting %>
      <div class="p-notification--information">
        <div class="p-notification__content">
          <p class="p-notification__message">
            <strong>次のブロック会議(<%= next_meeting.formatted_date %>)の議案投稿の締め切り日時は、<%= next_meeting.formatted_deadline %>です</strong>
          </p>
        </div>
      </div>
      <% end %>
      <h2 class="u-no-margin">新規議案の投稿</h2>
      <p><a href="<%= routes.document_path %>?type=1" class="p-button">議案の投稿方法の説明</a></p>

      <%= form_create(meetings, categories, recent_articles) %>
      <%= javascript 'markdown_preview' %>
      <%= javascript 'article_reference' %>
    </div>
  </div>
</div>
