<div class="p-strip">
  <div class="row">
    <div class="col-12">
      <% if detail_search %>
      <h1>議案の詳細検索
        <span class="u-hide--small" style="margin-right:3rem"></span>
        <span><a href="<%= routes.search_article_path %>" class="p-button u-no-margin--bottom">簡易検索へ</a></span>
      </h1>
      <% else %>
      <h1>議案の簡易検索
        <% unless keywords.strip.empty? %>
        ― 『<%= h keywords %>』
        <% end %>
        <span class="u-hide--small" style="margin-right:3rem"></span>
        <span><a href="<%= routes.search_article_path + "?detail_search=true" %>" class="p-button u-no-margin--bottom">詳細検索へ</a></span>
      </h1>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <% if detail_search %>
      <p>以下に条件を指定してください. AND検索を行います</p>
      <% end %>
      <%= form_search(keywords, detail_search, categories) %>
    </div>
    <hr>
  </div>
  <div class="row">
    <div class="col-12">
      <% articles.each do |article| %>
        <% if ENV['VAULT'] != "true" || (article.meeting.date + ENV['VAULT_LIMIT'].to_i > Date.today)%>
          <div class="p-card--highlighted u-no-padding--bottom u-no-padding--top" style="margin-bottom:.8rem">
            <h2 class="p-card__title full-width">
              <a href="<%= routes.article_path(id: article.id) %>" class="p-link--soft">
                <%= article_formatted_title(article, number: false) %>
              </a>
            </h2>
            <p class="p-card__content" style="max-width: none;"><%= h article.body[0, 130] %></p>
            <p class="p-card__content" style="margin-bottom:.3rem"><strong><% if article.meeting.type == 0 %>ブロック会議<% elsif article.meeting.type == 1 %>寮生大会<% elsif article.meeting.type == 2 %>代議員会<% elsif article.meeting.type == 3 %>寮生集会<% else %>寮生大会<% end %>：<%= article.meeting.formatted_date %> . 文責者：<%= h article.author.name %></strong></p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="row" style="margin-top:1rem; margin-bottom:2rem;">
    <div class="col-12">
      <ol class="p-pagination u-align--center">
        <% if page - 1 > 0 %>
          <li class="p-pagination__item">
            <a href="?page=<%= page - 1 %>&amp;search_article[keywords]=<%= hu keywords %>" class="p-pagination__link--previous">
              <i class="p-icon--chevron-down"></i>　前のページ
            </a>
          </li>
        <% else %>
          <li class="p-pagination__item">
            <span class="p-pagination__link--previous is-disabled"><i class="p-icon--chevron-down"></i>　前のページ</span>
          </li>
        <% end %>
        <% if page - 3 > 1 %>
          <li class="p-pagination__item">
            <a href="?page=1&amp;search_article[keywords]=<%= hu keywords %>" class="p-pagination__link u-hide--small">
              <span class="p-pagination__label">1</span>
            </a>
          </li>
        <% end %>
        <% if page - 3 > 2 %>
          <li class="p-pagination__item p-pagination__item--truncation">&hellip;</li>
        <% end %>
        <% if page - 3 > 0 %>
          <li class="p-pagination__item">
            <a href="?page=<%= page - 3 %>&amp;search_article[keywords]=<%= hu keywords %>" class="p-pagination__link u-hide--small">
              <span class="p-pagination__label"><%= page - 3 %></span>
            </a>
          </li>
        <% end %>
        <% if page - 2 > 0 %>
          <li class="p-pagination__item">
            <a href="?page=<%= page - 2 %>&amp;search_article[keywords]=<%= hu keywords %>" class="p-pagination__link u-hide--small">
              <span class="p-pagination__label"><%= page - 2 %></span>
            </a>
          </li>
        <% end %>
        <% if page - 1 > 0 %>
          <li class="p-pagination__item">
            <a href="?page=<%= page - 1 %>&amp;search_article[keywords]=<%= hu keywords %>" class="p-pagination__link u-hide--small">
              <span class="p-pagination__label"><%= page - 1 %></span>
            </a>
          </li>
        <% end %>
          <li class="p-pagination__item">
            <span class="p-pagination__link is-active" style="background-color: #ccc;">
              <span class="p-pagination__label"><%= page %></span>
            </span>
          </li>
        <% if page + 1 <= max_page %>
          <li class="p-pagination__item">
            <a href="?page=<%= page + 1 %>&amp;search_article[keywords]=<%= hu keywords %>" class="p-pagination__link u-hide--small">
              <span class="p-pagination__label"><%= page + 1%></span>
            </a>
          </li>
        <% end %>
        <% if page + 2 <= max_page %>
          <li class="p-pagination__item">
            <a href="?page=<%= page + 2 %>&amp;search_article[keywords]=<%= hu keywords %>" class="p-pagination__link u-hide--small">
              <span class="p-pagination__label"><%= page + 2 %></span>
            </a>
          </li>
        <% end %>
        <% if page + 3 <= max_page %>
          <li class="p-pagination__item">
            <a href="?page=<%= page + 3 %>&amp;search_article[keywords]=<%= hu keywords %>" class="p-pagination__link u-hide--small">
              <span class="p-pagination__label"><%= page + 3 %></span>
            </a>
          </li>
        <% end %>
        <% if page + 5 <= max_page %>
          <li class="p-pagination__item p-pagination__item--truncation">&hellip;</li>
        <% end %>
        <% if page + 4 <= max_page %>
          <li class="p-pagination__item">
            <a href="?page=<%= max_page %>&amp;search_article[keywords]=<%= hu keywords %>" class="p-pagination__link u-hide--small">
              <span class="p-pagination__label"><%= max_page %></span>
            </a>
          </li>
        <% end %>
        <% if page + 1 <= max_page %>
          <li class="p-pagination__item">
            <a href="?page=<%= page + 1 %>&amp;search_article[keywords]=<%= hu keywords %>" class="p-pagination__link--next">
              <span class="p-pagination__label">次のページ</span><i class="p-icon--chevron-down"></i>
            </a>
          </li>
        <% else %>
          <li class="p-pagination__item">
            <span class="p-pagination__link--next is-disabled">
              <span class="p-pagination__label">次のページ</span><i class="p-icon--chevron-down"></i>
            </span>
          </li>
        <% end %>
      </ol>
    </div>
  </div>
</div>
