<div class="p-strip">
  <div class="row">
    <div class="col-12">
      <h1><%= article_formatted_title(article, checked: (article.meeting.date >= Date.today), number: false) %></h1>
      <% if editable %>
      <div class="row">
        <a class="p-button--positive" href="<%= routes.edit_article_path(article.id) %>">編集</a>
        <%=
        form_for :article, routes.article_path(article.id), method: :delete, class: "p-form p-form--inline" do
          submit '削除', class: "p-button--negative"
        end
        %>
      </div>
      <% end %>
      <dl>
        <dt>文責者</dt>
        <dd><%= article.author.name %></dd>
        <dt>ブロック会議日時</dt>
        <dd><a href="<%= routes.meeting_path(id: article.meeting_id) %>" class="p-button--base u-no-margin--bottom"><%= article.meeting.formatted_date %></a></dd>
        <dt>議案の種別</dt>
        <dd>
          <ul class="p-inline-list--middot">
            <% article.categories.each do |category| %>
              <li class="p-inline-list__item"><%= category.name %></li>
            <% end %>
          </ul>
        </dd>
        <dt>本文</dt>
        <% if article.format == 1 %>
        <%= render partial: 'shared/markdown', locals: {str: article.body} %>
        <% else %>
        <dd>
          <pre><%= h article.body %></pre>
        </dd>
        <% end %>
        <% if article&.categories&.find{ |category| category.name == '採決'} %>
        <dt>採決項目</dt>
        <dd>
          <pre><%= vote_content(article) %></pre>
        </dd>
          <% vote_result_sum = article.vote_results&.map{ |vote| [vote.agree, vote.disagree, vote.onhold] }.transpose.map{ |count_ary| count_ary.sum } %>
          <% if vote_result_sum && !vote_result_sum.empty? %>
        <dd><%= "賛成 : #{vote_result_sum[0]}<br/>反対 : #{vote_result_sum[1]}<br/>保留 : #{vote_result_sum[2]}" %></dd>
          <% end %>
        <% end %>
      </dl>
      <ul class="p-list">
        <li class="p-list__item">議案の初版投稿日時: <%= article.formatted_created_at %></li>
        <li class="p-list__item">議案の最終更新日時: <%= article.formatted_updated_at %></li>
      </ul>

      <% if !article.tables.nil? %>
        <% article.tables.each do |table| %>
          <%= render partial: 'shared/table', locals: {table: table, editable: editable} %>
        <% end %>
      <% end %>

      <% unless article.comments.empty? && article.vote_results.empty? %>
      <div class="p-strip">
        <div class="row">
          <div class="col-12">
            <h4>議事録</h4>
            <dl>
              <% blocks.each do |block| %>
              <% comment = article.comments.find{ |comment| comment.block_id == block.id } %>
              <% vote_result = article.vote_results.find{ |vote| vote.block_id == block.id } %>
              <% unless comment.nil? && vote_result.nil? %>
                <dt><%= block.name %>の議事録</dt>
                <% if !comment.nil? && !comment.body.strip.empty? %>
                <dd><pre><%= comment.body %></pre></dd>
                <% end %>
                <% if article&.categories&.find{ |category| category.name == '採決'} %>
                <% unless vote_result.nil? %>
                <dd><%= "賛成 : #{vote_result.agree}<br/>反対 : #{vote_result.disagree}<br/>保留 : #{vote_result.onhold}" %></dd>
                <% end %>
                <% end %>
              <% end %>
              <% end %>
            </dl>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
