<div class="p-strip">
  <div class="row">
    <div class="col-12">
      <h1><%= article_formatted_title(article, checked: (article.meeting.date >= Date.today), number: false) %></h1>
      <% if editable %>
      <a class="p-button--positive is-inline" href="<%= routes.edit_article_path(article.id) %>">議案の編集</a>
      <%=
        form_for :article, routes.article_path(article.id), method: :delete, class: "p-form p-form--inline" do
          submit '議案の削除', class: "p-button--negative"
        end
      %>
      <% end %>
      <% if !article.checked %>
        <% if after_6pm(article, article.meeting) %>
          <div class="row">
            <p style="color:#d50000">この議案は、ブロック会議当日の１８時以降に編集されたため資料委員会によって印刷されません。議案提起者が印刷を行ってください。</p>
          </div>
        <% else %>
          <div class="row">
            <p>この議案は追加議案ですが、ブロック会議当日の１８時までに投稿されたため、資料委員会が印刷します。議案投稿者が印刷する必要はありません。</p>
          </div>
        <% end %>
      <% end %>
      <dl>
        <dt>文責者</dt>
        <dd><%= h article.author.name %></dd>
        <dt>ブロック会議日時</dt>
        <dd><a href="<%= routes.meeting_path(id: article.meeting_id) %>" class="p-button--base u-no-margin--bottom"><%= article.meeting.formatted_date %></a></dd>
        <dt>議案の種別</dt>
        <dd>
          <ul class="p-inline-list--middot">
            <% article.categories.each do |category| %>
              <li class="p-inline-list__item"><%= category.name %></li>
            <% end %>
          </ul>
        </dd>
        <dt>本文
          <a class="u-float-right u-hide--small" href="<%= routes.article_path(id: article.id) %><%= enable_html ? '' : '?enable_html=true' %>">
            <%= enable_html ? '議案本文をテキスト形式で表示' : '議案本文がHTML形式の場合の表示' %>
          </a>
        </dt>
        <% if enable_html %>
        <dd>
          <div><%= article.body %></div>
        </dd>
        <% elsif article.format == 1 %>
        <div class="markdown">
          <%= markdown_to_html(h article.body) %>
        </div>
        <% else %>
        <dd>
          <pre><%= url_parse(h article.body) %></pre>
        </dd>
        <% end %>
        <% if article&.categories&.find{ |category| category.name == '採決' || category.name == '採決予定' } %>
        <dt>採決項目</dt>
        <dd>
          <pre><%= vote_content(article) %></pre>
        </dd>
          <% vote_result_sum = article.vote_results&.map{ |vote| [vote.agree, vote.disagree, vote.onhold] }.transpose.map{ |count_ary| count_ary.sum } %>
          <% if vote_result_sum && !vote_result_sum.empty? %>
        <dd><%= "総数 : #{vote_result_sum.sum}<br/>賛成 : #{vote_result_sum[0]}<br/>反対 : #{vote_result_sum[1]}<br/>保留 : #{vote_result_sum[2]}" %></dd>
          <% end %>
        <% end %>
      </dl>
      <ul class="p-list">
        <li class="p-list__item">議案の初版投稿日時: <%= article.formatted_created_at %></li>
        <li class="p-list__item">議案の最終更新日時: <%= article.formatted_updated_at %></li>
      </ul>

      <% if !article.tables.nil? %>
        <% article.tables.each do |table| %>
          <%= render partial: 'shared/table', locals: {table: table, editable: editable} %>
        <% end %>
      <% end %>

      <% if !article_refs.empty? %>
      <dl>
        <dt>関連議案</dt>
        <dd>
          <ul class="p-list--divided">
            <% article_refs.each do |article_ref| %>
            <% ref = if article_ref.article_old_id == article.id then article_ref.article_new else article_ref.article_old end %>
            <li class="p-list__item">
              <div style="display: flex;justify-content: space-between;">
                <a href="<%= routes.article_path(id: ref.id) %>" class="p-heading--four p-link--strong u-no-margin--bottom full-width">
                  【<%= ref.meeting.formatted_date %>】<%= article_formatted_title(ref, number: false) %>
                </a>
                <% if article_ref.same %>
                <a href="/article/diff?diff[old_article]=<%= article_ref.article_old_id %>&diff[new_article]=<%= article_ref.article_new_id %>" class="p-button--brand u-no-margin--bottom u-hide--small">議案の差分を表示</a>
                <% end %>
              </div>
            </li>
            <% end %>
            <hr>
          </ul>
        </dd>
      </dl>
      <% end %>

      <% unless article.comments.empty? && article.vote_results.empty? %>
      <div class="p-strip">
        <div class="row">
          <div class="col-12">
            <h4>議事録</h4>
            <dl>
              <% blocks.each do |block| %>
              <% comment = article.comments.find{ |comment| comment.block_id == block.id } %>
              <% vote_result = article.vote_results.find{ |vote| vote.block_id == block.id } %>
              <% unless comment.nil? && vote_result.nil? %>
                <dt><%= block.name %>の議事録</dt>
                <% if !comment.nil? && !comment.body.strip.empty? %>
                  <dd class="u-no-margin--bottom"><pre class="u-no-margin--bottom"><%= h comment.body %></pre></dd>
                  <% if messages.find{|id,_| id == comment.id } %>
                    <dd class="u-no-margin--bottom">
                      <ul class="p-list--divided u-no-margin--bottom">
                        <% messages.find{|id,_| id == comment.id}.fetch(1, nil)&.each do |message| %>
                        <li class="p-list__item">
                          <%= message.send_by_article_author ? '議案提起者からの返答' : "#{block.name}議事録投稿者からの返答" %>:
                          <div class="row">
                            <div class="col-12 prefix-1"><pre class="u-no-margin--bottom"><%= h message.body %></pre>
                              <ul class="p-inline-list u-no-margin--bottom">
                                <li class="p-inline-list__item"><small>送信日時：<%= message.formatted_created_at %></small></li>
                                <li class="p-inline-list__item">
                                  <%=
                                  form_for :message, routes.comment_message_path(id: message.id), method: :delete, class: "p-form p-form--inline" do
                                    submit '', class: "p-button--base" do
                                      i '', class: "p-icon--delete"
                                    end
                                  end
                                  %>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </li>
                        <% end %>
                      </ul>
                    </dd>
                  <% end %>
                <% end %>
                <% if article&.categories&.find{ |category| category.name == '採決'} %>
                <% unless vote_result.nil? %>
                <dd><%= "賛成 : #{vote_result.agree}<br/>反対 : #{vote_result.disagree}<br/>保留 : #{vote_result.onhold}" %></dd>
                <% end %>
                <% end %>
              <% end %>
              <% end %>
            </dl>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <div class="row row-wide u-hide--small">
      <h4>議案のプレビュー（印刷用PDFの確認）</h4>
      <iframe src="/article/<%= article.id %>/pdf" type="application/pdf" width="100%" height="700px"></iframe>
  </div>
</div>
