<div class="p-strip--image is-lighth is-shallow" style="background-image:url('/assets/header.jpg')">
  <div class="row">
    <div class="col-7" style="margin-top:4rem">
      <h1 class="p-heading--stylized">新資料システム</h1>
      <a href="<%= routes.document_path %>?type=0" class="p-button--neutral"><h4 class="u-no-margin--bottom">利用方法</h4></a>
    </div>
    <div class="col-4 u-hide--small u-align--center">
      <img src="/assets/abstruct.svg" alt="Main image">
    </div>
  </div>
</div>
<% if during_meeting %>
<div class="p-strip is-shallow is-bordered">
  <div class="row">
    <h2>議事録作成</h2>
    <ul class="p-inline-list">
      <% blocks.each do |block| %>
      <li class="p-inline-list__item">
        <% if block[:comment_count] == 0 && block[:vote_result_count] == 0 %>
        <a href='<%= routes.edit_comment_path(meeting_id: next_meeting.id, block_id: block[:id]) %>' class="p-button--negative"><%= block[:name] %><br/>未提出</a>
        <% else %>
        <a href='<%= routes.edit_comment_path(meeting_id: next_meeting.id, block_id: block[:id]) %>' class="p-button--positive"><%= block[:name] %><br/>提出済</a>
        <% end %>
      </li>
      <% end %>
    </ul>
  </div>
</div>
<% end %>
<div class="p-strip is-shallow">
  <div class="row p-divider">
    <div class="col-4 p-divider__block">
      <h2>議案の閲覧</h2>
      <p>ブロック会議で議案を閲覧する場合は、以下のブロック会議のボタンを押してください.</p>
      <p>新たに投稿された議案を閲覧したい場合は新着議案のボタンを押してください.</p>
      <ul class="p-list">
        <% if next_meeting %>
        <li>
          <a href="<%= routes.meeting_path(id: next_meeting.id) %>" class="p-button--neutral" style="background-color:#b3e5fc;width:100%;">
            <h3 class="u-no-margin--bottom full-width"><%= next_meeting.formatted_date %> のブロック会議</h3>
          </a>
        </li>
        <% end %>
        <li>
          <a href="<%= routes.articles_path %>" class="p-button--neutral" style="background-color:#b2dfdb;width:100%;">
            <h3 class="u-no-margin--bottom full-width">新着議案一覧</h3>
          </a>
        </li>
        <li>
          <a href="<%= routes.meetings_path %>" class="p-button--neutral" style="background-color:#dcedc8;width:100%;">
            <h3 class="u-no-margin--bottom full-width">ブロック会議一覧</h3>
          </a>
        </li>
      </ul>
    </div>
    <div class="col-4 p-divider__block">
      <h2>議案の投稿</h2>
      <p>議案を新たに投稿する場合は、以下のボタンを押してください. 通常議案・追加議案ともに同じ投稿フォームから投稿できます. <br>詳しい投稿方法の説明は、資料システムの利用方法を参照してください.</p>
      <ul class="p-list">
        <li>
          <a href="<%= routes.new_article_path %>" class="p-button--neutral" style="background-color:#f8bbd0;width:100%;">
            <h3 class="u-no-margin--bottom">新規議案の投稿</h3>
          </a>
        </li>
      </ul>
    </div>
    <div class="col-4 p-divider__block">
      <h2>その他</h2>
      <p>下のボタンから、操作を選択してください.</p>
      <ul class="p-list">
        <li>
          <a href="<%= routes.search_article_path %>" class="p-button--neutral" style="background-color:#eceff1;width:100%;">
            <h3 class="u-no-margin--bottom">議案の検索</h3>
          </a>
        </li>
        <li>
          <a href="<%= routes.diff_article_path %>" class="p-button--neutral" style="background-color:#eceff1;width:100%;">
            <h3 class="u-no-margin--bottom">議案の差分表示</h3>
          </a>
        </li>
        <li>
          <a href="<%= routes.download_meeting_path(id: 0) %>" class="p-button--neutral" style="background-color:#eceff1;width:100%;">
            <h3 class="u-no-margin--bottom">PDFダウンロード</h3>
          </a>
        </li>
        <hr>
        <h3>資料委員会向け</h3>
        <li>
          <a href="/admin" class="p-button--neutral" style="width:100%;">
            <h4 class="u-no-margin--bottom">資料システム 管理ページ</h4>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<% if save_token %>
<%= javascript 'save_token' %>
<% end %>
