<!DOCTYPE html>
<html>
  <head>
    <title>Admin</title>
    <%= favicon %>
    <link rel="stylesheet" href="https://www.kumano-ryo.com/assets/vanilla-framework-version-1.8.1.min.css" />
    <%= stylesheet 'application' %>
    <meta name="viewport" content="width=device-width">
    <%= javascript 'viewport' %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <!-- 議案の並び替え、順序データ送信 -->
    <%= javascript 'article_order' %>
    <style>
      .ui-state-highlight { height: 3rem; }
    </style>
  </head>
  <body>
    <header id="navigation" class="p-navigation" style="background-color: #ff9e80">
      <div class="row">
        <div class="p-navigation__banner">
          <div class="p-navigation__logo">
            <a class="p-navigation__link" href="/admin">
              <img src="/assets/logo.png" alt="" class="p-navigation__image">
            </a>
          </div>
          <a href="#navigation" class="p-navigation__toggle--open" title="menu">Menu</a>
          <a href="#navigation-closed" class="p-navigation__toggle--close" title="close menu">Close menu</a>
        </div>
        <nav class="p-navigation__nav" role="menubar">
          <span class="u-off-screen">
            <a href="#main-content">Jump to main content</a>
          </span>
          <ul class="p-navigation__links" role="menu">
            <li class="p-navigation__link" role="menuitem"><a href="/admin">管理者向けトップページ</a></li>
            <li class="p-navigation__link" role="menuitem"><a href="/admin/meeting">会議日程一覧</a></li>
            <li class="p-navigation__link <%= navigation[:pdf] ? 'is-selected' : '' %>" role="menuitem"><a href="/admin/meeting/0/download">印刷用PDFダウンロード</a></li>
            <li class="p-navigation__link" role="menuitem">
              <a href="/admin/logout" style="background-color:#ffe57f"><i class="p-icon--user"></i>ログアウト（一般向けページへ）</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <div class="u-no-margin--top">
      <% unless notifications.empty? %>
        <div class="p-strip--accent is-shallow">
          <div class="row">
            <div class="col-12">
              <% if notifications[:error] %>
                <div class="p-notification--negative">
                  <p class="p-notification__response">
                    <span class="p-notification__status"><%= notifications[:error][:status] %></span>
                    <%= notifications[:error][:message] %>
                  </p>
                </div>
              <% end %>
              <% if notifications[:caution] %>
                <div class="p-notification--caution">
                  <p class="p-notification__response">
                    <span class="p-notification__status"><%= notifications[:caution][:status] %></span>
                    <%= notifications[:caution][:message] %>
                  </p>
                </div>
              <% end %>
              <% if notifications[:success] %>
                <div class="p-notification--positive">
                  <p class="p-notification__response">
                    <span class="p-notification__status"><%= notifications[:success][:status] %></span>
                    <%= notifications[:success][:message] %>
                  </p>
                </div>
              <% end %>
              <% if notifications[:info] %>
                <div class="p-notification--information">
                  <p class="p-notification__response">
                    <span class="p-notification__status"><%= notifications[:info][:status] %></span>
                    <%= notifications[:info][:message] %>
                  </p>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>

      <%= yield %>
    </div>

    <footer>
    </footer>
  </body>
</html>
